<div class="article prewiew">
  <div class="prewiew-header">
    <a class="article-image">
      <img src="{{ article.author.image }}" />
    </a>
    <div class="article-info">
      <a class="info-name">{{ article.author.username }}</a>
      <span class="info-date">{{ article.createdAt | date: "longDate" }}</span>
    </div>
    <button mat-stroked-button class="prewiew-likes">
      <mat-icon class="icon-heart">favorite</mat-icon>
      <span class="count-likes">{{ article.favoritesCount }}</span>
    </button>
  </div>
  <div class="prewiew-main">
    <h1 class="prewiew-title">{{ article.title }}</h1>
    <p class="prewiew-text">{{ article.description }}</p>
    <span [routerLink]="['/article', article.slug]">Read more...</span>
    <ul class="prewiew-list-tags">
      <li class="prewiew-tag pills" *ngFor="let tag of article.tagList">
        {{ tag }}
      </li>
    </ul>
  </div>
</div>
