<div class="list-articles" *ngIf="articles$ | async as articles; else loading">
  <app-article
    *ngFor="let article of articles"
    [article]="article"
    [type]="type"
    (getArticlesByAuthor)="getArticlesByAuthor()"
    (getFavoriteArticlesProfile)="getFavoriteArticles()"
  ></app-article>
  <div [hidden]="articles.length < 5">
    <mat-paginator
      hidePageSize="true"
      [length]="length"
      [pageSize]="pageSize"
      (page)="pageEvent = $event"
      (page)="pageEvent = changesPage($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
<ng-template #loading>
  <p class="loading">Loading...</p>
</ng-template>
