<form [formGroup]="form" (ngSubmit)="singUp()">
  <h1>Sign up</h1>
  <p>
    <a [routerLink]="['/auth', 'login']">Have an account?</a>
  </p>
  <small *ngIf="errMsg | async as error">{{ error }} </small>

  <div
    class="form-control"
    [ngClass]="{
      invalid: form.get('username')?.touched && form.get('username')?.invalid
    }"
  >
    <input id="username" type="text" placeholder="Username" formControlName="username" />
    <div class="validation" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
      <small *ngIf="form.get('username')?.hasError('required')">Field cannot be empty</small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{
      invalid: form.get('email')?.touched && form.get('email')?.invalid
    }"
  >
    <input id="email" type="email" placeholder="Email" formControlName="email" />
    <div class="validation" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
      <small *ngIf="form.get('email')?.hasError('required')">Field cannot be empty</small>
      <small *ngIf="form.get('email')?.hasError('email')">Enter valid email address</small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{
      invalid: form.get('password')?.touched && form.get('password')?.invalid
    }"
  >
    <input id="password" type="password" placeholder="Password" formControlName="password" />
    <div class="validation" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
      <small *ngIf="form.get('password')?.hasError('required')">Field cannot be empty</small>
    </div>
  </div>

  <button type="submit" class="btn-lg" [disabled]="form.invalid || submitted">Sign up</button>
</form>
