<div class="container" *ngIf="isFormReady">
  <form [formGroup]="form" (ngSubmit)="publishArticle()">
    <div class="form-control">
      <input
        id="title"
        class="input-title"
        type="text"
        placeholder="Article Title"
        formControlName="title"
      />
      <small *ngIf="errorMesages">{{ errorMesages }}</small>
    </div>
    <div class="form-control">
      <input
        id="description"
        class="input-about"
        type="text"
        placeholder="What's this article about?"
        formControlName="description"
      />
    </div>
    <div class="form-control">
      <textarea
        id="body"
        class="input-body"
        type="text"
        rows="8"
        placeholder="Write your article(in markdown)"
        formControlName="body"
      ></textarea>
    </div>
    <div class="form-control">
      <input
        id="tags"
        class="input-tags"
        type="text"
        placeholder="Enter tags"
        formControlName="tagList"
      />
    </div>
    <button [disabled]="form.invalid" type="submit" class="btn-lg">Publish Article</button>
  </form>
</div>
