<div class="container">
  <form>
    <div class="form-control">
      <input class="input-title" type="text" placeholder="Article Title" />
    </div>
    <div class="form-control">
      <input
        class="input-about"
        type="text"
        placeholder="What's this article about?"
      />
    </div>
    <div class="form-control">
      <textarea
        class="input-body"
        type="text"
        rows="8"
        placeholder="Write your article(in markdown)"
      ></textarea>
    </div>
    <div class="form-control">
      <input class="input-tags" type="text" placeholder="Enter tags" />
    </div>
    <button class="btn-lg">Publish Article</button>
  </form>
</div>
