<div class="container" *ngIf="isFormReady">
  <form [formGroup]="form" (ngSubmit)="publishArticle()">
    <div class="form-control">
      <input class="input-title" type="text" placeholder="Article Title" formControlName="title" />
    </div>
    <div class="form-control">
      <input class="input-about" type="text" placeholder="What's this article about?" formControlName="description" />
    </div>
    <div class="form-control">
      <textarea
        class="input-body"
        type="text"
        rows="8"
        placeholder="Write your article(in markdown)"
        formControlName="body"
      ></textarea>
    </div>
    <div class="form-control">
      <input class="input-tags" type="text" placeholder="Enter tags" formControlName="tagList" />
    </div>
    <button type="submit" class="btn-lg">Publish Article</button>
  </form>
</div>
