<div *ngIf="!isAuth" class="banner">
  <h1 class="logo">real world</h1>
  <p>Create by Dariia</p>
</div>
<div class="container main">
  <div class="row">
    <div class="home-articles">
      <div class="feed-toggle">
        <ul class="nav">
          <li *ngIf="isAuth" class="nav-item" (click)="getType('your')" (click)="clearTag()">
            <a [ngClass]="type === 'your' ? 'active' : ''" class="nav-link">Your Feed</a>
          </li>
          <li class="nav-item" (click)="getType('global')" (click)="clearTag()">
            <a [ngClass]="type === 'global' ? 'active' : ''" class="nav-link">Global Feeds</a>
          </li>
          <li *ngIf="tagName$ | async as tagName" class="nav-item" (click)="getType(tagName)">
            <a [ngClass]="type === tagName ? 'active' : ''" class="nav-link"># {{ tagName }}</a>
          </li>
        </ul>
      </div>
      <app-articles [type$]="changingValue$" [tagName$]="tagName$"></app-articles>
    </div>
    <div class="home-tags">
      <div class="sidebar">
        <p>Popular Tags</p>
        <div class="list-tags" *ngIf="tags$ | async as tags">
          <app-tags *ngFor="let tag of tags" [tag]="tag" (sendTag)="getTagName($event)"></app-tags>
        </div>
      </div>
    </div>
  </div>
</div>
