<div class="banner">
  <h1 class="logo">real world</h1>
  <p>Create by Dariia</p>
</div>
<div class="container main">
  <div class="row">
    <div class="home-articles">
      <div class="feed-toggle">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active">Global Feeds</a>
          </li>
        </ul>
      </div>
      <div
        class="list-articles"
        *ngIf="articles$ | async as articles; else loading"
      >
        <app-article
          *ngFor="let article of articles"
          [article]="article"
        ></app-article>
      </div>
    </div>
    <div class="home-tags">
      <div class="sidebar">
        <p>Popular Tags</p>
        <div class="list-tags" *ngIf="tags$ | async as tags">
          <app-tags *ngFor="let tag of tags" [tag]="tag"></app-tags>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
