<div class="article-page" *ngIf="article$ | async as article">
  <div class="banner">
    <div class="container">
      <h1 class="logo">{{ article.title }}</h1>
      <div class="article-bio">
        <a class="article-image">
          <img src="{{ article.author.image }}" />
        </a>
        <div class="article-info">
          <a class="info-name">{{ article.author.username }}</a>
          <span class="info-date">{{ article.createdAt | date: 'longDate' }}</span>
        </div>
        <button mat-stroked-button class="btn-follow">
          <mat-icon class="icon-add">add</mat-icon>
          <span>Follow {{ article.author.username }}</span>
        </button>
        <button mat-stroked-button class="btn-favorite">
          <mat-icon class="icon-heart">favorite</mat-icon>
          <span>Favorite articles {{ article.favoritesCount }}</span>
        </button>
      </div>
    </div>
  </div>
  <div class="container article-body">
    <div class="article-content">
      <p>
        {{ article.body }}
      </p>
      <div class="article-btn">
        <button mat-stroked-button>Edit post</button>
        <button mat-stroked-button (click)="deleteArticle(article.slug)">Delete article</button>
      </div>
      <ul class="article-list-tags">
        <li class="article-tag pills" *ngFor="let tag of article.tagList">
          {{ tag }}
        </li>
      </ul>
    </div>
    <div class="article-bio">
      <a class="article-image">
        <img src="{{ article.author.image }}" />
      </a>
      <div class="article-info">
        <a class="info-name">{{ article.author.username }}</a>
        <span class="info-date">{{ article.createdAt | date: 'longDate' }}</span>
      </div>
      <button mat-stroked-button class="btn-follow">
        <mat-icon class="icon-add">add</mat-icon>
        <span>Follow {{ article.author.username }}</span>
      </button>
      <button mat-stroked-button class="btn-favorite">
        <mat-icon class="icon-heart">favorite</mat-icon>
        <span>Favorite articles {{ article.favoritesCount }}</span>
      </button>
    </div>
    <div class="article-comments">
      <form class="comment-form">
        <div class="comment-input">
          <textarea type="text" placeholder="Write a comment..." rows="3"></textarea>
        </div>
        <div class="comment-banner">
          <img src="https://api.realworld.io/images/smiley-cyrus.jpeg" />
          <button class="btn-sub">Post comment</button>
        </div>
      </form>
      <div *ngIf="comments$ | async as comments">
        <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
      </div>
    </div>
  </div>
</div>
