<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo">Create a new implementationg</h1>
      <div class="article-bio">
        <a class="article-image">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHpTun6ZJzXtt0rIiRtvI5Hdt0JwtGFxxmcA&usqp=CAU"
          />
        </a>
        <div class="article-info">
          <a class="info-name">Name</a>
          <span class="info-date">November 24, 2021 </span>
        </div>
        <button mat-stroked-button class="btn-follow">
          <mat-icon class="icon-add">add</mat-icon>
          <span>Follow Name</span>
        </button>
        <button mat-stroked-button class="btn-favorite">
          <mat-icon class="icon-heart">favorite</mat-icon>
          <span>Favorite articles 4567</span>
        </button>
      </div>
    </div>
  </div>
  <div class="container article-body">
    <div class="article-content">
      <p>
        Share your knowledge and enpower the community by creating a new
        implementation
      </p>
      <app-tags></app-tags>
    </div>
    <div class="article-bio">
      <a class="article-image">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHpTun6ZJzXtt0rIiRtvI5Hdt0JwtGFxxmcA&usqp=CAU"
        />
      </a>
      <div class="article-info">
        <a class="info-name">Name</a>
        <span class="info-date">November 24, 2021 </span>
      </div>
      <button mat-stroked-button class="btn-follow">
        <mat-icon class="icon-add">add</mat-icon>
        <span>Follow Name</span>
      </button>
      <button mat-stroked-button class="btn-favorite">
        <mat-icon class="icon-heart">favorite</mat-icon>
        <span>Favorite articles 4567</span>
      </button>
    </div>
    <div class="article-comments">
      <form class="comment-form">
        <div class="comment-input">
          <textarea
            type="text"
            placeholder="Write a comment..."
            rows="3"
          ></textarea>
        </div>
        <div class="comment-banner">
          <img src="https://api.realworld.io/images/smiley-cyrus.jpeg" />
          <button class="btn-sub">Post comment</button>
        </div>
      </form>
    </div>
  </div>
</div>
