.article-page {
  .banner {
    background-color: #2f2e2e;
    color: #fbfffe;
    padding: 2rem 0;
    margin-bottom: 2rem;

    h1 {
      font-family: 'Source Sans Pro', sans-serif;
      text-shadow: 0px 1px 3px rgb(0 0 0 / 30%);
      font-size: 2.8rem;
      font-weight: 600;
      padding-bottom: 1rem;
      margin-bottom: 0px;
      margin-top: 0px;
      line-height: 1.1;
    }
    p {
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 0px;
    }
    .article-bio {
      justify-content: flex-start;
      .article-info {
        font-family: 'Source Sans Pro', sans-serif;
        .info-name {
          color: #fff;
        }
      }
    }
  }
  .article-body {
    .article-content {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      .article-list-tags {
        float: none;
        padding: 0;
      }
      p {
        font-family: 'Source Serif Pro', serif;
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin-bottom: 2rem;
      }
    }
  }
  .article-comments {
    margin: 3% 15%;
    padding-bottom: 4%;
    .comment-form {
      max-width: none;
      border: 1px solid #e5e5e5;
      margin-bottom: 0.75rem;
      background-color: #fff;
      border-radius: 0.3rem;
      padding: 0;
      .comment-banner {
        border-top: 1px solid #e5e5e5;
        padding: 0.75rem 1.25rem;
        background-color: #f5f5f5;
        font-size: 0.8rem;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
        img {
          height: 30px;
          width: 30px;
          border-radius: 30px;
        }
      }
    }
  }
  .article-btn {
    .btn-follow,
    .btn-unfollow,
    .btn-favorite,
    .btn-unfavorite,
    .btn-delete,
    .btn-edit {
      font-size: 0.875rem;
      color: #69a2b0;
      border-color: #69a2b0;
      padding: 0.1rem 0.5rem;
      line-height: 1.25;
      text-align: center;
      &:hover {
        background-color: #69a2b0;
        color: #fff;
      }
      &:disabled {
        cursor: not-allowed;
        background-color: rgba(149, 145, 145, 0.654);
        border-color: #fff;
      }
      .icon-btn {
        font-size: 1rem;
        line-height: 1.5;
      }
    }
    .btn-follow,
    .btn-unfollow,
    .btn-edit {
      margin-right: 0.25rem;
      color: #ccc;
      border-color: #ccc;
      &:hover {
        background-color: #ccc;
        color: #fff;
      }
    }
    .btn-delete {
      color: #b85c5c;
      border-color: #b85c5c;
      &:hover {
        background-color: #b85c5c;
        color: #fff;
      }
    }
    .btn-unfollow {
      background-color: #c2bfbfaa;
      color: #fff;
    }
    .btn-unfavorite {
      background-color: #69a2b0;
      color: #fff;
      &:hover {
        background-color: #49717b;
      }
    }
  }
  .article-bio {
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    .info-name {
      text-align: left;
    }
  }
}
