<div class="article-page" *ngIf="article$ | async as article">
  <div class="banner">
    <div class="container">
      <h1 class="logo">{{ article.title }}</h1>
      <div class="article-bio">
        <a class="article-image">
          <img src="{{ article.author.image }}" />
        </a>
        <div class="article-info">
          <a class="info-name" [routerLink]="['/profile', article.author.username]">{{ article.author.username }} </a>
          <span class="info-date">{{ article.createdAt | date: 'longDate' }}</span>
        </div>
        <div class="article-btn" *ngIf=" user && article.author.username !== user.username; else myArticle">
          <button
            *ngIf="!article.author.following; else unfollowing"
            mat-stroked-button
            [disabled]="disabled"
            class="btn-follow"
            (click)="follow(article.author.username)"
          >
            <mat-icon class="icon-btn">add</mat-icon>
            <span>Follow {{ article.author.username }}</span>
          </button>
          <button
            *ngIf="!article.favorited; else unfavourite"
            [disabled]="disabled"
            (click)="favouriteArticle(article.slug)"
            mat-stroked-button
            class="btn-favorite"
          >
            <mat-icon class="icon-btn">favorite</mat-icon>
            <span>Favorite articles {{ article.favoritesCount }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container article-body">
    <div class="article-content">
      <p>
        {{ article.body }}
      </p>
      <ul class="article-list-tags">
        <li class="article-tag pills" *ngFor="let tag of article.tagList">
          {{ tag }}
        </li>
      </ul>
    </div>
    <div class="article-bio" *ngIf="user">
      <a class="article-image">
        <img src="{{ article.author.image }}" />
      </a>
      <div class="article-info">
        <a class="info-name" [routerLink]="['/profile', article.author.username]">{{ article.author.username }}</a>
        <span class="info-date">{{ article.createdAt | date: 'longDate' }}</span>
      </div>
      <div class="article-btn" *ngIf="article.author.username !== user.username; else myArticle">
        <button
          *ngIf="!article.author.following; else unfollowing"
          mat-stroked-button
          [disabled]="disabled"
          class="btn-follow"
          (click)="follow(article.author.username)"
        >
          <mat-icon class="icon-btn">add</mat-icon>
          <span>Follow {{ article.author.username }}</span>
        </button>
        <button
          *ngIf="!article.favorited; else unfavourite"
          [disabled]="disabled"
          (click)="favouriteArticle(article.slug)"
          mat-stroked-button
          class="btn-favorite"
        >
          <mat-icon class="icon-btn">favorite</mat-icon>
          <span>Favorite articles {{ article.favoritesCount }}</span>
        </button>
      </div>
    </div>
    <app-comment *ngIf="user" [slug]="article.slug"></app-comment>
  </div>

  <ng-template #myArticle>
    <div *ngIf="user" class="article-btn">
      <button mat-stroked-button class="btn-edit" [routerLink]="['/editor', article.slug]">
        <mat-icon class="icon-btn">edit</mat-icon>
        <span>Edit Article</span>
      </button>
      <button mat-stroked-button class="btn-delete" (click)="deleteArticle(article.slug)">
        <mat-icon class="icon-btn">delete</mat-icon>
        <span>Delete Article</span>
      </button>
    </div>
  </ng-template>

  <ng-template #unfollowing>
    <button mat-stroked-button class="btn-unfollow" [disabled]="disabled" (click)="unFollow(article.author.username)">
      <mat-icon class="icon-btn">add</mat-icon>
      <span>Unfollow {{ article.author.username }}</span>
    </button>
  </ng-template>

  <ng-template #unfavourite>
    <button mat-stroked-button class="btn-unfavorite" [disabled]="disabled" (click)="unFavouriteArticle(article.slug)">
      <mat-icon class="icon-btn">favorite</mat-icon>
      <span>Unfavorite articles {{ article.favoritesCount }}</span>
    </button>
  </ng-template>
</div>
