<div class="profile-page" *ngIf="profile && user">
  <div class="user-info">
    <div class="container">
      <div class="bio">
        <img src="{{ profile.image }}" />
        <h4>{{ profile.username }}</h4>
        <p>{{ profile.bio }}</p>
        <button
          *ngIf="profile.username === user.username; else follow"
          mat-stroked-button
          class="btn btn-edit-settings"
          [routerLink]="['/settings']"
        >
          <mat-icon class="icon-settings">settings</mat-icon>
          <span>Edit Profile settings</span>
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="profile-articles">
        <div class="feed-toggle">
          <ul class="nav">
            <li class="nav-item" (click)="getType('author')">
              <a
                class="nav-link"
                routerLinkActive="active"
                [routerLink]="['/profile', profile.username]"
                [routerLinkActiveOptions]="{ exact: true }"
                >My Articles</a
              >
            </li>
            <li class="nav-item" (click)="getType('favorites')">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/profile', profile.username, 'favorites']"
                >Favorited Articles</a
              >
            </li>
          </ul>
        </div>
        <!-- <div class="list-articles" *ngIf="articles$ | async as articles; else loading">
          <app-article *ngFor="let article of articles" [article]="article"></app-article>
        </div>
        <ng-template #loading>
          <p class="loading">Loading...</p>
        </ng-template> -->
        <app-profile-articles [username]="profile.username" [type$]="changingValue"></app-profile-articles>
      </div>
    </div>
  </div>

  <ng-template #follow>
    <button
      *ngIf="!profile.following; else unfollowing"
      mat-stroked-button
      [disabled]="disabled"
      (click)="following(profile.username)"
      class="btn-follow"
    >
      <mat-icon class="icon-btn">add</mat-icon>
      <span>Follow {{ profile.username }}</span>
    </button>
  </ng-template>

  <ng-template #unfollowing>
    <button mat-stroked-button class="btn-unfollow" [disabled]="disabled" (click)="unFollowing(profile.username)">
      <mat-icon class="icon-btn">add</mat-icon>
      <span>Unfollow {{ profile.username }}</span>
    </button>
  </ng-template>
</div>
