/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  color: #373a3c;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
}
ul {
  list-style: none;
}
a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.text-center {
  text-align: center;
}

.container {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.pills {
  color: #fff;
  font-size: 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  white-space: nowrap;
  margin-right: 3px;
  margin-bottom: 0.2rem;
  display: inline-block;
  background-color: #818a91;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}
