.banner {
  background-color: #846c5b;
  color: #fbfffe;
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;

  h1 {
    text-shadow: 0px 1px 3px rgb(0 0 0 / 30%);
    font-weight: 700;
    font-size: 3.5rem;
    padding-bottom: 1rem;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 1.1;
  }
  p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0px;
  }
}
.main {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    .home-articles {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      flex: 0 0 75%;
      max-width: 75%;
      .feed-toggle {
        .nav {
          padding-left: 0;
          margin-bottom: 0;
          .nav-item {
            float: left;
            .nav-link {
              display: block;
              padding: 0.5em 1em;
              &.active {
                background: #fff;
                border-bottom: 2px solid #846c5b;
                color: #846c5b;
              }
            }
          }
        }
      }
      .list-articles {
        margin-top: 3rem;
        .article {
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          padding: 1.5rem 0;
          .prewiew-header {
            margin: 0 0 1rem 0;
            .prewiew-profile {
              img {
                display: inline-block;
                vertical-align: middle;
                height: 32px;
                width: 32px;
                border-radius: 30px;
              }
            }
            .prewiew-info {
              margin: 0 1.5rem 0 0.3rem;
              display: inline-block;
              vertical-align: middle;
              line-height: 1rem;
              .info-name {
                font-weight: 500;
                display: block;
                &:hover {
                  text-decoration: underline;
                }
              }
              .info-date {
                display: block;
                color: #bbb;
                font-size: 0.8rem;
              }
            }
            .prewiew-likes {
              float: right;
              font-size: 0.875rem;
              color: #846c5b;
              border-color: #846c5b;
              padding: 0.25rem 0.5rem;
              line-height: 1.25;
              text-align: center;
              &:hover {
                background-color: #846c5b;
                color: #fff;
              }
              .icon-heart {
                font-size: 1rem;
                line-height: 1.5;
              }
            }
          }
          .prewiew-main {
            h1 {
              cursor: pointer;
              font-weight: 600;
              font-size: 1.5rem;
              margin-bottom: 3px;
            }
            p {
              cursor: pointer;
              font-weight: 300;
              font-size: 24px;
              color: #999;
              margin-bottom: 15px;
              font-size: 1rem;
              line-height: 1.3rem;
              margin-top: 0;
            }
            span {
              max-width: 30%;
              font-size: 0.8rem;
              font-weight: 300;
              color: #bbb;
              vertical-align: middle;
              cursor: pointer;
            }
            .prewiew-list-tags {
              float: right;
              max-width: 50%;
              vertical-align: top;
              margin-top: 0;
              .prewiew-tag {
                border: 1px solid #ddd;
                color: #aaa;
                background: none;
                margin-top: -20px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .home-tags {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      flex: 0 0 25%;
      max-width: 25%;
      .sidebar {
        padding: 5px 10px 10px 10px;
        background: #f3f3f3;
        border-radius: 4px;
        p {
          margin-bottom: 0.2rem;
        }
      }
    }
  }
}
