<div class="banner">
  <h1 class="logo">real world</h1>
  <p>Create by Dariia</p>
</div>
<div class="container main">
  <div class="row">
    <div class="home-articles">
      <div class="feed-toggle">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active">Global Feeds</a>
          </li>
        </ul>
      </div>
      <div class="list-articles">
        <div class="article prewiew">
          <div class="prewiew-header">
            <a class="prewiew-profile">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvYVTf-wSXFiAPGCVSz_hDMzDqNc6egDj2yg&usqp=CAU"
              />
            </a>
            <div class="prewiew-info">
              <a class="info-name">Name</a>
              <span class="info-date">Date</span>
            </div>
            <button mat-stroked-button class="prewiew-likes">
              <mat-icon class="icon-heart">favorite</mat-icon>
              <span class="count-likes">123</span>
            </button>
          </div>
          <div class="prewiew-main">
            <h1 class="prewiew-title">Create a new title</h1>
            <p class="prewiew-text">join abd create a new text</p>
            <span>Read more...</span>
            <ul class="prewiew-list-tags">
              <li class="prewiew-tag pills">implementation</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="home-tags">
      <div class="sidebar">
        <p>Popular Tags</p>
        <div class="list-tags">
          <a class="tag pills">welcome</a>
          <a class="tag pills">implementation</a>
          <a class="tag pills">implementation</a>
          <a class="tag pills">implementation</a>
        </div>
      </div>
    </div>
  </div>
</div>
