<div class="container" *ngIf="isFormReady">
  <div class="settings-page">
    <h1>Your Settings</h1>
    <form [formGroup]="form" (ngSubmit)="updateUser()">
      <small *ngIf="errorMesages">{{ errorMesages }}</small>
      <div class="form-control">
        <input type="text" placeholder="URL of profile picture" formControlName="image" />
      </div>
      <div class="form-control">
        <input type="text" placeholder="Username" formControlName="username" />
      </div>
      <div class="form-control">
        <textarea type="text" rows="8" placeholder="Short bio about you" formControlName="bio"></textarea>
      </div>
      <div class="form-control">
        <input type="email" placeholder="Email" formControlName="email" />
      </div>
      <div class="form-control">
        <input type="password" placeholder="New password" formControlName="password" />
      </div>
      <button type="submit" class="btn-lg">Update Settings</button>
    </form>
    <hr />
    <div>
      <button class="btn btn-logout" (click)="logout()">Or click here to logout</button>
    </div>
  </div>
</div>
