<div class="container" *ngIf="isFormReady">
  <div class="settings-page">
    <h1>Your Settings</h1>
    <form [formGroup]="form" (ngSubmit)="updateUser()">
      <small *ngIf="errorMesages">{{ errorMesages }}</small>
      <div class="form-control">
        <input
          id="image"
          type="text"
          placeholder="URL of profile picture"
          formControlName="image"
        />
      </div>
      <div class="form-control">
        <input id="username" type="text" placeholder="Username" formControlName="username" />
        <div
          class="validation"
          *ngIf="form.get('username')?.touched && form.get('username')?.invalid"
        >
          <small *ngIf="form.get('username')?.hasError('required')">Field cannot be empty</small>
        </div>
      </div>
      <div class="form-control">
        <textarea
          id="bio"
          type="text"
          rows="8"
          placeholder="Short bio about you"
          formControlName="bio"
        ></textarea>
      </div>
      <div class="form-control">
        <input id="email" type="email" placeholder="Email" formControlName="email" />
        <div class="validation" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
          <small *ngIf="form.get('email')?.hasError('required')">Field cannot be empty</small>
          <small *ngIf="form.get('email')?.hasError('email')">Enter valid email address</small>
        </div>
      </div>
      <div class="form-control">
        <input
          id="password"
          type="password"
          placeholder="New password"
          formControlName="password"
        />
      </div>
      <button type="submit" [disabled]="form.invalid" class="btn-lg">Update Settings</button>
    </form>
    <hr />
    <div>
      <button class="btn btn-logout" (click)="logout()">Or click here to logout</button>
    </div>
  </div>
</div>
